data/
checkpoints/
sam2/

# Default VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache/
*.pytest_cache/
htmlcov/
.tox/
*.env
.env/
.venv/
venv/
ENV/
env/
